html{
  box-sizing: border-box;
  font-family: 'Contrail One', cursive;
}
*, *::before, *::after{
  box-sizing: inherit;
}

.robot-body{
  width: 320px;
  position: absolute;
}

.robot-brain{
  width: 46px;
  position: relative;
}

.robot-head-left{
  width: 125px;
  position: relative;
}

.robot-head-right{
  width: 125px;
  position: relative;
}

.images{
  position: relative;
  width: 320px;
  margin: 0 auto;
}
